@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.testdlu{
  margin:0;
  padding:0;
  height:100%

}


.dataOn {
  display: flex;
}

.dataNotOn {
  display: none;
}